<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>
        {% block title %}
        Media Tracker
        {% endblock %}
    </title>
</head>

<body>

    <nav>
        <h2>Media Tracker</h2>

        <a href="/">Home</a>

        |

        <a href="/media">My Media</a>

        |

        <a href="/search">Search</a>

        |

        <a href="/add">Add Media</a>
    </nav>


    <main>
        {% block content %}
        {% endblock %}
    </main>


</body>

</html>