{% extends "base.html" %}

{% block title %}
Edit {{ media["title"] }}
{% endblock %}

{% block content %}

<h1>Edit Media</h1>

<form method="POST">

    <label for="title">Title</label><br>

    <input
        type="text"
        id="title"
        name="title"
        value="{{ media['title'] }}"
        required
    >

    <br><br>


    <label for="type">Type</label><br>

    <select id="type" name="type">

        <option
            value="Movie"
            {% if media["type"] == "Movie" %}selected{% endif %}
        >
            Movie
        </option>

        <option
            value="TV"
            {% if media["type"] == "TV" %}selected{% endif %}
        >
            TV Show
        </option>

    </select>

    <br><br>


    <label for="rating">Rating</label><br>

    <input
        type="number"
        id="rating"
        name="rating"
        min="1"
        max="10"
        step="0.1"
        value="{{ media['rating'] }}"
        required
    >

    <br><br>


    <h3>Genres</h3>

    <input type="checkbox" id="action" name="genres" value="Action" {% if "Action" in selected_genres %}checked{% endif %}>
    <label for="action">Action</label><br>

    <input type="checkbox" id="adventure" name="genres" value="Adventure" {% if "Adventure" in selected_genres %}checked{% endif %}>
    <label for="adventure">Adventure</label><br>

    <input type="checkbox" id="animation" name="genres" value="Animation" {% if "Animation" in selected_genres %}checked{% endif %}>
    <label for="animation">Animation</label><br>

    <input type="checkbox" id="anime" name="genres" value="Anime" {% if "Anime" in selected_genres %}checked{% endif %}>
    <label for="anime">Anime</label><br>

    <input type="checkbox" id="cartoon" name="genres" value="Cartoon" {% if "Cartoon" in selected_genres %}checked{% endif %}>
    <label for="cartoon">Cartoon</label><br>

    <input type="checkbox" id="comedy" name="genres" value="Comedy" {% if "Comedy" in selected_genres %}checked{% endif %}>
    <label for="comedy">Comedy</label><br>

    <input type="checkbox" id="crime" name="genres" value="Crime" {% if "Crime" in selected_genres %}checked{% endif %}>
    <label for="crime">Crime</label><br>

    <input type="checkbox" id="documentary" name="genres" value="Documentary" {% if "Documentary" in selected_genres %}checked{% endif %}>
    <label for="documentary">Documentary</label><br>

    <input type="checkbox" id="drama" name="genres" value="Drama" {% if "Drama" in selected_genres %}checked{% endif %}>
    <label for="drama">Drama</label><br>

    <input type="checkbox" id="fantasy" name="genres" value="Fantasy" {% if "Fantasy" in selected_genres %}checked{% endif %}>
    <label for="fantasy">Fantasy</label><br>

    <input type="checkbox" id="horror" name="genres" value="Horror" {% if "Horror" in selected_genres %}checked{% endif %}>
    <label for="horror">Horror</label><br>

    <input type="checkbox" id="music/musical" name="genres" value="Music/Musical" {% if "Music/Musical" in selected_genres %}checked{% endif %}>
    <label for="music/musical">Music/Musical</label><br>

    <input type="checkbox" id="mystery" name="genres" value="Mystery" {% if "Mystery" in selected_genres %}checked{% endif %}>
    <label for="mystery">Mystery</label><br>

    <input type="checkbox" id="romance" name="genres" value="Romance" {% if "Romance" in selected_genres %}checked{% endif %}>
    <label for="romance">Romance</label><br>

    <input type="checkbox" id="romantic comedy" name="genres" value="Romantic Comedy" {% if "Romantic Comedy" in selected_genres %}checked{% endif %}>
    <label for="romantic comedy">Romantic Comedy</label><br>

    <input type="checkbox" id="sci-fi" name="genres" value="Sci-Fi" {% if "Sci-Fi" in selected_genres %}checked{% endif %}>
    <label for="sci-fi">Sci-Fi</label><br>

    <input type="checkbox" id="sports" name="genres" value="Sports" {% if "Sports" in selected_genres %}checked{% endif %}>
    <label for="sports">Sports</label><br>

    <input type="checkbox" id="thriller" name="genres" value="Thriller" {% if "Thriller" in selected_genres %}checked{% endif %}>
    <label for="thriller">Thriller</label><br>

    <br>

    <button type="submit">Save Changes</button>

</form>

<br>

<a href="{{ url_for('media_detail', media_id=media['id']) }}">
    Cancel
</a>

{% endblock %}